<div class="section" id="crew-section">
    <div class="container">
        <div class="row d-flex justify-content-center">

        </div>
        <div class="row">
            {{#each crew}}
            <div class="col-3 text">
                <img src="{{foto}}" alt="">
                <p class="nombre">{{nombre}}</p>
                <p class="titulo">{{titulo}}</p>
                <p class="mail">{{correo}}</p>
            </div>
            {{/each}}
        </div>
    </div>
</div>