<div id="header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-12">
				<a href="" class="logo_small_white">
					<img src="/assets/img/logo_small_white.svg" alt="">
				</a>
				<a href="" class="menu_btn_white">
					<img class="menu-open" src="/assets/img/menu_btn_white.svg" alt="">
					<img class="menu-close" src="/assets/img/menu-close.svg" alt="">
				</a>
			</div>
		</div>
	</div>
</div>
<div id="menu">
	<div class="container-fluid">
		<div class="row d-flex justify-content-center align-middle">
			<ul class="col-12">
				<div class="row">
					<li class="col-3">
						<img src="/assets/img/left-wrap.svg" alt="" class="left">
						<a href="/" class="menu-item">HOME</a>
						<img src="/assets/img/right-wrap.svg" alt="" class="right">
					</li>
					<li class="col-3">
						<img src="/assets/img/left-wrap.svg" alt="" class="left">
						<a href="/" class="menu-item">PROYECTS</a>
						<img src="/assets/img/right-wrap.svg" alt="" class="right">
					</li>
					<li class="col-3">
						<img src="/assets/img/left-wrap.svg" alt="" class="left">
						<a href="/about" class="menu-item">ABOUT</a>
						<img src="/assets/img/right-wrap.svg" alt="" class="right">
					</li>
					<li class="col-3">
						<img src="/assets/img/left-wrap.svg" alt="" class="left">
						<a href="/contact" class="menu-item">CONTACT</a>
						<img src="/assets/img/right-wrap.svg" alt="" class="right">
					</li>
				</div>
			</ul>
		</div>
	</div>

</div>