<div id="header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-12">
				<a href="/" class="logo_small_white">
					<img src="/assets/img/logo_small_white.svg" alt="">
				</a>
				<a href="" class="menu_btn_white">
					<img class="menu-open" src="/assets/img/menu_btn_white.svg" alt="">
					<img class="menu-close" src="/assets/img/menu-close.svg" alt="">
				</a>
			</div>
		</div>
	</div>
</div>
{{#>menu}}
{{/menu}}