<div id="header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-12">
				<a href="" class="logo_small_white">
					<img src="/assets/img/logo_small_white.svg" alt="">
				</a>
				<a href="" class="menu_btn_white">
					<img src="/assets/img/menu_btn_white.svg" alt="">
				</a>
			</div>
		</div>
	</div>
</div>
<div id="menu">
	<ul>
		<li>
			<a href="/home" class="menu-item">HOME</a>
		</li>
		<li>
			<a href="/proyects" class="menu-item">PROYECTS</a>
		</li>
		<li>
			<a href="/about" class="menu-item">ABOUT</a>
		</li>
		<li>
			<a href="/contact" class="menu-item">CONTACT</a>
		</li>
	</ul>
</div>