<div id="menu">
    <div class="container-fluid">
        <a class="es lang active" href="/">es</a>
        <a class="en lang" href="/en/">en</a>
    </div>
    <div class="container-fluid" id="buttons">
        <div class="row d-flex justify-content-center align-middle">
            <div class="col-12">
                <ul class="menu-lista">
                    <div class="row">
                        <li class="col-3">
                            <img src="/assets/img/left-wrap.svg" alt="" class="left">
                            <a href="/" class="menu-item">HOME</a>
                            <img src="/assets/img/right-wrap.svg" alt="" class="right">
                        </li>
                        <li class="col-3">
                            <img src="/assets/img/left-wrap.svg" alt="" class="left">
                            <a href="/proyectos" class="menu-item">PROYECTS</a>
                            <img src="/assets/img/right-wrap.svg" alt="" class="right">
                        </li>
                        <li class="col-3">
                            <img src="/assets/img/left-wrap.svg" alt="" class="left">
                            <a href="/about" class="menu-item">ABOUT</a>
                            <img src="/assets/img/right-wrap.svg" alt="" class="right">
                        </li>
                        <li class="col-3">
                            <img src="/assets/img/left-wrap.svg" alt="" class="left">
                            <a href="/contact" class="menu-item">CONTACT</a>
                            <img src="/assets/img/right-wrap.svg" alt="" class="right">
                        </li>
                    </div>
                </ul>
            </div>

        </div>

    </div>

    <div class="container-fluid text" id="politicas">
        <div class="row ">
            <div class="col-12">
                <h1>
                    POLÍTICA DE PRIVACIDAD
                </h1>

                <p>
                    Este mensaje, así como los archivos adjuntos contienen información de la empresa BTF Media, LLC
                    la cual es privada y confidencial. El mensaje está destinado para uso del
                    individuo o de la entidad al cual está dirigido. Si el lector de este mensaje no es el
                    destinatario, se le informa que está estrictamente prohibido difundir, hacer pública o
                    copiar esta comunicación. Si usted recibe esta comunicación por error, favor de informarnos de
                    inmediato al teléfono o correo electrónico antes citado. Toda información
                    contenida en este mensaje será tratada como confidencial, y estará protegida por los Artículos
                    82, 84 y 85 de la Ley de la Propiedad Industrial, 232 de la Ley Federal de
                    Derechos de Autor; así como, por lo dispuesto en el artículo 211 y 211 Bis del Código Penal
                    Federal, dichos ordenamientos vigentes en los Estados Unidos Mexicanos.
                </p>
                <p>
                    BTF Media, LLC. Con domicilio en Merrick Way 95, 3rd Floor, Coral Gables, Miami, Florida es
                    responsable de recabar sus datos personales, del uso que se le dé a los mismos
                    y de su protección. Su información personal será utilizada para proveer los servicios
                    inherentes a la industria del entretenimiento, cine, t.v. y/o publicitaria; informarle sobre
                    cambios en los mismos y evaluar la calidad del servicio que le brindamos. Para las finalidades
                    antes mencionadas, requerimos obtener los siguientes datos personales: Lugar
                    de Origen, Nombre, Teléfono y Correo Electrónico, Domicilio, Datos de Cuenta Bancario,
                    considerados como sensibles según la Ley Federal de Protección de Datos
                    Personales en Posesión de los Particulares. Usted tiene derecho de acceder, rectificar y
                    cancelar sus datos personales, así como de oponerse al tratamiento de los mismos
                    o revocar el consentimiento que para tal fin nos haya otorgado, a través de los procedimientos
                    que hemos implementado. Para conocer dichos procedimientos, los
                    requisitos y plazos, se puede poner en contacto con nuestro departamento de datos personales 01
                    (55) 8435-2005, info@btfmedia.com.
                </p>
                <p>
                    Asimismo, le informamos que sus datos personales pueden ser transferidos y tratados dentro y
                    fuera del país, por personas distintas a esta empresa y para los servicios y
                    actividades que se desarrollen con ésta. En ese sentido, su información puede ser compartida
                    con terceros, por lo que se entenderá que ha otorgado su consentimiento
                    para que sus datos personales puedan ser utilizados y transferidos con estos fines. Si usted
                    desea dejar de recibir mensajes de nuestra parte puede solicitarlo a través de
                    01 (55) 8435-2005, info@btfmedia.com.
                </p>
                <p>
                    Las opiniones expresadas en este mensaje por parte del emisor no deben ser interpretadas como
                    una afirmación o garantía de algún acuerdo o convenio con las mismas.
                </p>
                <p>
                    This communication is covered by the Electronic Communications Privacy Act, 18 U.S.C. Secs.
                    2510-2521, and is confidential. This e-mail is intended only for the
                    addressee(s) named above. If you are not the intended recipient, or an authorized employee or
                    agent responsible for delivering it to the intended recipient, you are hereby
                    notified that any retention, dissemination, distribution or copying of this email is strictly
                    prohibited. Unauthorized interception of this e-mail is a violation of federal criminal
                    law. If you have received this message in error, please immediately notify us by reply email
                    and delete this email from your records. Thank you for your cooperation.
                </p>

            </div>
        </div>
        <div>
            <a href="" class="btn-politicas text">
                <img src="/assets/img/flecha-back.svg" alt="">
            </a>
        </div>
    </div>

</div>