<div class="section" id="proyecto-trailer">
  <div class="container-fluid">
        <div class="titulo">
            <img src="/assets/img/proyecto/h1_trailer.jpg" alt="">
        </div>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="{{trailer_url}}" allowfullscreen></iframe>
        </div>
    </div>
</div>