<div class="section" id="proyecto-trailer">
  <div class="container-fluid">
        <h2 class="text d-flex justify-content-right">TRAILER</h2>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="{{trailer_url}}" allowfullscreen></iframe>
        </div>
    </div>
</div>