<div class="section" id="proyecto-trailer">
    <div class="container">
        <div class="titulo">
            <img src="/assets/img/titulo-trailer.svg" alt="">
        </div>
        <div class="video embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="{{trailer_url}}" allowfullscreen></iframe>
        </div>
    </div>
</div>