<div class="section" id="proyecto-sinopsis">
  <div class="container-fluid">
      <div class="row">
          <div class="col-6">
              <img class="imagen-sinopsis" src="{{imagen_sinopsis}}">
          </div>
        <div class="col-6">
                <div class="text d-flex justify-content-right">BACKSTAGE
                        <!-- <img src="/assets/img/proyecto_sinopsis_title.svg" alt=""> -->
                </div>
                <div class="text">{{texto_sinopsis}}</div>
        </div>
      </div>
    </div>
</div>