<div class="section" id="proyecto-sinopsis">
  <div class="container-fluid">
      <div class="row">
        <div class="col-6">
            <img class="imagen-sinopsis" src="{{imagen_sinopsis}}">
        </div>
        <div class="sinopsis col-6">
            <div class="titulo">
                <img class="h1-sinopsis" src="/assets/img/proyecto/h1_sinopsis.jpg" alt="">
            </div>
            <div class="texto">
                <p>{{texto_sinopsis}}</p>
            </div>
        </div>
      </div>
    </div>
</div>