<div class="section" id="clients-section">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <img src="/assets/img/nosotros-title.svg" class="section-title clients-title" alt="">
        <p style="color: white;">
          En BTF Media somos agentes de cambio: cReativos, directores y productores que generamos contenidos
          audiovisuales a la
          medida; ideas de todas formas y tamaños con altos estándares de calidad, con nuevos y más eficientes
          procesos, aptos a
          todas las plataformas de comunicación.

        </p>
        <p style="color: white;">
          Contamos historias desde 2010, películas, series de ficción, documentales, publicidad, y contenido digital.
        </p>
        <p style="color: white;">
          La calidad y la originalidad, nuestros valores más preciados.
        </p>
      </div>
      <div class="col-6">

      </div>
    </div>
    <div class="row">
      {{!-- {{#each clients}}
      <div class="col-2 client">
        <a href="{{link}}" target="_blank">
          <img src="{{logo}}" alt="{{nombre}}">
        </a>
      </div>
      {{/each}} --}}
    </div>
  </div>
</div>