<div class="section" id="clients-section">
  <div class="container">
    <div class="row">
      <div class="col-7">
        <img src="/assets/img/nosotros-title.svg" class="section-title clients-title" alt="">
        <p style="color: white;" class="about-descripcion">
          En BTF Media somos agentes de cambio: <span>Creativos, directores y productores</span> que
          generamos contenidos
          audiovisuales a la
          medida; ideas de todas formas y tamaños con altos estándares de calidad, con nuevos y más eficientes
          procesos, aptos a
          todas las plataformas de comunicación.

        </p>
        <p style="color: white;" class="about-descripcion">
          Contamos historias desde 2010, películas, series de ficción, documentales, publicidad, y contenido digital.
        </p>
        <p style="color: white;" class="about-descripcion">
          La <span>calidad</span> y la <span>originalidad</span>, nuestros valores más preciados.
        </p>
      </div>
      <div class="col-5">
        <div class="logo-bf">
          <img src="/assets/img/logo-breakformat.svg" alt="" class="logo-breakformat">
        </div>
      </div>
    </div>
    <div class="row">
      {{!-- {{#each clients}}
      <div class="col-2 client">
        <a href="{{link}}" target="_blank">
          <img src="{{logo}}" alt="{{nombre}}">
        </a>
      </div>
      {{/each}} --}}
    </div>
  </div>
</div>