#clients-section
    .text
        color: #fff
    .client
        padding-bottom: 60px
        img
            height: auto
            width: auto
            margin-left: auto
            margin-right: auto
    .section-title.clients-title
        width: 120px
        height: 52px
        margin-bottom: 195px
    .logo-box
        width: 180px
        height: 100px
        background-repeat: no-repeat
        background-position: 50% 50%
        display: block
        text-align: center
        margin-left: auto
        margin-right: auto