#clients-section
    .about-descripcion
        +calibri
        font-size: 23px
        text-align: justify
        span
            font-weight: bold
            text-transform: uppercase
    .logo-bf
        text-align: center
        img
            padding-top: 138px
    .text
        color: #fff
    .client
        padding-bottom: 60px
        img
            height: auto
            width: auto
            margin-left: auto
            margin-right: auto
    .section-title.clients-title
        width: 120px
        height: 52px
        margin-bottom: 105px
    .logo-box
        width: 180px
        height: 100px
        background-repeat: no-repeat
        background-position: 50% 50%
        display: block
        text-align: center
