@font-face
  font-family: 'Calibri'
  src: url('../fonts/Calibri.eot')
  src: url('../fonts/Calibri.eot?#iefix') format("embedded-opentype"), url('../fonts/Calibri.woff2') format("woff2"), url('../fonts/Calibri.woff') format("woff"), url('../fonts/Calibri.ttf') format("truetype"), url('../fonts/Calibri.svg#Calibri') format("svg")
  font-weight: normal
  font-style: normal
@font-face
  font-family: 'Salvo'
  src: url('../fonts/SalvoSans-Bold.eot')
  src: url('../fonts/SalvoSans-Bold.eot?#iefix') format("embedded-opentype"), url('../fonts/SalvoSans-Bold.woff2') format("woff2"), url('../fonts/SalvoSans-Bold.woff') format("woff"), url('../fonts/SalvoSans-Bold.ttf') format("truetype"), url('../fonts/SalvoSans-Bold.svg#../fonts/SalvoSans-Bold') format("svg")
  font-weight: normal
  font-style: normal