html
  background-color: #fff
  min-width: 100%
  min-height: 100%
  height: 100%
  width: 100%
  padding: $margin
  position: relative

html.fp-enabled
  padding: $margin

body
  min-width: 100%
  min-height: 100%
  height: 100%
  width: 100%
  position: relative
  // background-color: #0e0e0e
  background-color: #030303

p
  color: #fff

a
  color: #fff
  text-decoration: none

a:hover
  color: #fff
  text-decoration: none

.container-fluid
  padding: 0 149px

video, .video
  background-color: #4f4f4f

#social
  width: 100%
  position: absolute
  left: 0
  bottom: 40px
  z-index: 2
  .container-fluid
    position: relative
    a.sociales
      font-weight: normal
      font-size: 16px
      +calibri
      letter-spacing: 0.1em

  ul
    list-style: none
    margin-bottom: 0

    li
      line-height: normal
      margin: 0
      padding: 0
      padding-bottom: 22px
      &:last-child
        padding-bottom: 0 
      a
        color: #fff
        opacity: 0.6
        +calibri
        font-size: 16px
        text-transform: uppercase
  .btn-politicas
    display: none
    &.active
      display: block


    .text
      color: #fff
      text-align: right
      +calibri
      font-size: 16px


#header
  z-index: 2
  position: relative

  .logo_small_white
    position: absolute
    left: 0
    top: 40px
    visibility: hidden
    opacity: 0
    transition: opacity 0.4s ease-out 0.4s
    &.active
      opacity: 1
      visibility: visible

    img
      width: 88px
      height: 81px

  .menu_btn_white
    position: absolute
    right: 0
    top: 40px
    &.active
      .menu-open
        display: none
      .menu-close
        display: block
    .menu-open
      display: block
    .menu-close
      display: none
    img
      width: 42px
      height: 27px

#buttons
  display: block
  &.active
    display: none
  .btn_politicas
    display: block
    &.active
      display: none

#politicas
  .btn-politicas
    padding-top: 40px
    display: block

  div
    div
      h1
        // text-align: center
        +calibri
        color: white
        font-size: 26px
        padding: 0
        padding-bottom: 35px
        padding-top: 15%
      p
        font-size: 14px
        +calibri
        text-align: justify
      *

        width: 100%
        display: block
  .text
    font-size: 10px
  pointer-events: none
  opacity: 0
  transition: opacity 0.4s ease-out
  &.active
    pointer-events: auto
    opacity: 1
  .btn_politicas_back
    display: none
    &.active
      display: block

#fullpage
  .section
    visibility: hidden
  .fullpage-wrapper
    width: 100% !important
    transform: none !important

  .fp-section
    width: 100% !important
    position: absolute !important
    left: 0 !important
    top: 0 !important
    visibility: hidden !important
    opacity: 0 !important
    z-index: 0 !important
    transition: all .4s ease-in-out
    &.active
      visibility: visible !important
      opacity: 1 !important
      z-index: 1 !important
#imdb
  width: 100%
  position: absolute
  left: 0
  bottom: 90px
  z-index: 2