#intro-section
  .logo
    text-align: center

    img
      width: 287px
      height: 287px
#fullpage
  .proyecto
    // background: red;
    background-position: 50% 50%
    background-size: cover
    position: relative

    .container-fluid
      padding: 0 255px
      margin: 10px 0

      // background: blue;
      height: 100%
      position: relative

    .logo-proyecto
      text-align: right
      position: absolute
      right: 250px
      bottom: 138px
      width: 520px

      img
        width: 287px
        height: 271px

      .descripcion
        color: $gris
        font-size: 20px
        text-transform: capitalize
        margin-top: 50px
        width: 520px
        +calibri

      .cont-ir-proyecto
        text-align: right
        margin-top: 40px

        img
          width: 33px
          height: 39px
          margin-right: 32px

        a.boton-ir-a-proyecto
          display: inline-block
          padding: 15px
          border: 1px solid rgba(255, 255, 255, 0.6)
          font-size: 16px
          line-height: 16px
          color: rgba($color: #fff, $alpha: 0.6)
          +calibri
          text-transform: uppercase