#proyecto-detalle
    .container

        max-height: 80%
    #proyecto-titulo
        background-position: 0 0
        background-size: contain
        background-repeat: no-repeat
        .fp-tableCell:first-child
            vertical-align: top



        #video-fullscreen
            position: relative
            min-width: 100%
            height: 60%
            top: 0
            z-index: 4
        .container-fluid
            color: #fff
            .contenedor
                position: relative
                width: 100%
                display: flex
        .text2
            font-size: 20px
            letter-spacing: 1px

            text-transform: uppercase
            +salvo
            font-weight: bold
            p
                white-space: nowrap
                width: 100%
                img
                    position: relative
                    display: inline-block
            span
                display: inline-block
                +calibri
                font-weight: normal
                font-size: 20px
            &.invert
                +calibri
                font-weight: normal
                span
                    +salvo
                    font-weight: bold

        .text1
            +salvo
            font-weight: bold
            padding-top: 80px
            font-size: 30px
            padding-bottom: 40px
            text-transform: uppercase
            letter-spacing: 1px




    #proyecto-sinopsis
        .imagen-sinopsis
            width: auto
            height: 80%
            padding: 0 20px 0 20px
        .sinopsis
            width: 100%
            height: auto

            .titulo
                position: relative
                .h1-sinopsis
                text-align: right
            .texto

                p
                    +calibri
                    font-weight: normal
                    position: relative
                    text-align: justify
                    white-space: pre-line
                    font-size: 20px
                    color: #fff
                    padding-bottom: 20px
                    margin-bottom: 0
                    padding-top: 20px
                    line-height: normal
                    letter-spacing: 1px
            .texto_cast
                .cast-title

                    margin: 0
                    padding: 0
                    padding-bottom: 10px
                    padding-top: 20px
                    +calibri
                    font-weight: bold
                    font-size: 18px
                    text-transform: uppercase
                    line-height: normal
                    letter-spacing: 1px
                .cast-list
                    padding-left: 7px
            .texto_cast.actores p
                +calibri
                font-weight: normal
                line-height: normal
                font-size: 18px
                column-count: 2
                letter-spacing: 1px
                span
                    width: 100%
                    display: block


    #proyecto-trailer
        .titulo
            position: relative
            text-align: right
            padding-bottom: 40px
        .video
            width: 100%
            margin-left: auto
            margin-right: auto
            background-color: #4f4f4f

    #proyecto-backstage

        .titulo
            position: relative
            text-align: right
        .galeria
            position: relative
            width: auto
            height:
        .text
            color: #fff

            &h2
                +salvo
                font-weight: bold
                letter-spacing: 1px
            .carousel
                margin: 0 auto
                width: 800px
                height: 300px
                display: relative
            .carousel img
                display: hidden
                cursor: pointer

            .tags
                width: 100%
                text-align: center
                p
                    +calibri
                    font-size: 20px
                    font-weight: normal
                    white-space: nowrap
                    display: inline-block
                    letter-spacing: 1px
        .tags-t
            +salvo
            font-weight: bold
            font-size: 20px
            letter-spacing: 1px

        .pie-de-pagina
            position: absolute
            bottom: 0
            height: 180px
            width: 100%
            background-color: #fff

            justify-content: center
            align-items: center
            display: none
            &.active
                display: block
            .text1
                +salvo
                padding: 0
                padding-top: 50px
                font-size: 30px
                font-weight: bold
                margin: 0
                color: #000
                text-align: center
                line-height: normal
                letter-spacing: 1px
                text-transform: uppercase

            .text2
                +calibri
                font-weight: normal
                line-height: normal
                padding: 0
                margin: 0
                padding-top: 10px
                font-size: 20px
                color: #000
                text-align: center
                letter-spacing: 1px
                a
                    display: inline-block
                    padding-left: 150px
