$margin: 10px;
$gris: #757575;
html {
  background-color: #fff;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  width: 100%;
  padding: $margin;
  position: relative;
}
html.fp-enabled {
  padding: $margin;
}

body {
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  width: 100%;
  background-color: #000;
}

.container-fluid {
  padding: 0 149px;
}

#intro-section {
  .logo {
    text-align: center;
    img {
      width: 287px;
      height: 287px;
    }
  }
}

#social {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 40px;
  ul {
    list-style: none;
    li a {
      color: #fff;
      opacity: 0.6;
    }
  }
}

#header {
  z-index: 2;
  position: relative;
  .logo_small_white {
    position: absolute;
    left: 0;
    top: 40px;
    img {
      width: 88px;
      height: 81px;
    }
  }
  .menu_btn_white {
    position: absolute;
    right: 0;
    top: 40px;
    img {
      width: 42px;
      height: 27px;
    }
  }
}

#fullpage {
  .proyecto {
    // background: red;
    background-position: 50% 50%;
    background-size: cover;
    position: relative;
    .container-fluid {
      padding: 0 255px;
      margin: 10px 0;
      // background: blue;
      height: 100%;
      position: relative;
    }
    .logo-proyecto {
      text-align: right;
      position: absolute;
      right: 250px;
      bottom: 138px;
      width: 520px;
      img {
        width: 287px;
        height: 271px;
      }
      .descripcion {
        color: $gris;
        font-size: 20px;
        text-transform: capitalize;
        margin-top: 50px;
        width: 520px;
      }
      .cont-ir-proyecto {
        text-align: right;
        margin-top: 40px;
        img {
          width: 33px;
          height: 39px;
          margin-right: 32px;
        }
        a.boton-ir-a-proyecto {
          display: inline-block;
          padding: 15px;
          border: 1px solid rgba(255, 255, 255, 0.6);
          font-size: 16px;
          line-height: 16px;
          color: rgba($color: #fff, $alpha: 0.6);
        }
      }
    }
  }
}
