{{#>body}}
<div class="section" id="crew-section" >
    <div class="container">
            <div class="row d-flex justify-content-center">
                <p class="text">crew</p>
            </div>
            <div class="row">
            {{#each crew}}
                <div class="col-3 text">
                    
                    <p>{{nombre}}</p>
                    <p>{{titulo}}</p>
                    <p>{{correo}}</p>
                </div>
            {{/each}}
</div>
</div>
</div>
{{/body}}
