<!DOCTYPE html>
<html>

<head>
	<title>enduro.js page</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.2/fullpage.css">
	<link rel="stylesheet" href="/assets/css/main.css">
	<style type="text/css"></style>
</head>

<body>
	{{#proyecto}}
	{{#each this}}
	<article>
		<h3>{{proyecto.titulo_proyecto}}</h3>
		{{!-- <h3>{{{proyectos_entry.blog_text}}}</h3> --}}
		<a href="/proyectos/{{page_slug}}">Read more...</a>
	</article>
	{{/each}}
	{{/proyecto}}


	<div id="fullpage">
		<div class="section" id="intro-section">
			<div class="container">
				<div class="row">
					<div class="col-4"></div>
					<div class="col-4 logo">
						<img src="/assets/img/logo.svg" alt="">
					</div>
					<div class="col-4"></div>
				</div>
			</div>
		</div>
	</div>


	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	 crossorigin="anonymous"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
	 crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.2/fullpage.js"></script>
	{{!--
	<script src="/assets/js/main.js"></script> --}}
	<script src="/assets/js/scripts.js"></script>

</body>

{{!--
<script data-main="/assets/js/main.js" src="/assets/vendor/requirejs/require.js"></script> --}}

</html>