{{#proyecto}}
{{#each this}}
<article>

	<h2>Titulo: {{proyecto_entry.titulo_proyecto}}</h2>
	<h2>bg: {{proyecto_entry.imagen_homepage}}</h2>
	<h2>bg: {{proyecto_entry.ver_proyecto_texto}}</h2>
	<a href="/proyecto/{{page_slug}}">Read more...</a>
</article>
{{/each}}
{{/proyecto}}