{{#>body}}
<div id="proyecto-detalle">
    {{#>proyecto-titulo}}
    {{/proyecto-titulo}}
    {{#>proyecto-sinopsis}}
    {{/proyecto-sinopsis}}
    {{#>proyecto-trailer}}
    {{/proyecto-trailer}}
    {{#>proyecto-backstage}}
    {{/proyecto-backstage}}
</div>

{{/body}}