{{#>body}}
<div id="proyecto-detalle">
    {{#>proyecto-titulo}}
    {{/proyecto-titulo}}
    {{#>proyecto-sinopsis}}
    {{/proyecto-sinopsis}}
    {{#>proyecto-trailer}}
    {{/proyecto-trailer}}
    {{#>proyecto-backstage}}
    {{/proyecto-backstage}}
</div>
<div id="imdb">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <a href="{{imdb}}" target="_blank">IMDB</a>
            </div>
            <div class="col-6">
                <a id="top"  href="" class="last">
                    <img src="/assets/img/top.svg" alt="">
                </a>
            </div>
        </div>
    </div>
</div>
{{/body}}