{{#>body}}
<div id="proyecto-detalle">
    {{#>proyecto-titulo}}
    {{/proyecto-titulo}}
    {{#>proyecto-sinopsis}}
    {{/proyecto-sinopsis}}
    {{#>proyecto-trailer}}
    {{/proyecto-trailer}}
    {{#>proyecto-backstage}}
    {{/proyecto-backstage}}
</div>
<div id="imdb">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <a href="{{imdb}}" target="_blank">IMDB</a>
            </div>
        </div>
    </div>
</div>
{{/body}}